# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Ivan Kuznetsov
email: ivan@ikuznetsov.com
description: >- # this means to ignore newlines until "baseurl:"
  I create and launch internet projects.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://ikuznetsov.com" # the base hostname & protocol for your site, e.g. http://example.com

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-redirect-from
  - jekyll-seo-tag

permalink: /posts/:title/

# Exclude from processing.
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

# Minimal Mistakes theme settings
minimal_mistakes_skin: "dark"
search: true

# Author
author:
  name: "Ivan Kuznetsov"
  avatar: "/assets/images/bio-photo.jpg"
  bio: "I create and launch internet projects."
  location: "United Kingdom"
  links:
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://linkedin.com/in/ivankuznetsov"
    - label: "Telegram"
      icon: "fab fa-fw fa-telegram"
      url: "https://t.me/asterio"
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:ivan@ikuznetsov.com"

# Social/SEO
twitter:
  username: ikuznetsov_com
  card: summary

image: /assets/images/icon-v3.jpg

# Footer
footer:
  links:
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://linkedin.com/in/ivankuznetsov"
    - label: "Telegram"
      icon: "fab fa-fw fa-telegram"
      url: "https://t.me/asterio"

# Defaults for posts and pages
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
      image: /assets/images/icon-v3.jpg
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
      image: /assets/images/icon-v3.jpg
  # all files
  - scope:
      path: ""
    values:
      image: /assets/images/icon-v3.jpg

# Collections
collections:
  portfolio:
    output: true
    permalink: /:collection/:path/

# Category and Tag settings
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
